#login,
#chat {
	width: 600px;
	margin: 0 auto;
	text-align: center;
}

#txtChat {
	width: 100%;
	resize: none;
	height: 300px;
	margin: 0 0 10px 0;
}

#panel {
	position: absolute;
	top: 8px;
}

#panelUsers {
	width: 250px;
	resize: none;
	height: 300px;
	margin: 0 0 10px 0;
}
