#loginWrapper,
#chatWrapper {
	width: 800px;
	margin: 0 auto;
	text-align: center;
}

#txtChat {
	width: 100%;
	resize: none;
	height: 300px;
	margin: 0 0 10px 0;
}

#listUsers {
	width: 100%;
	resize: none;
	height: 300px;
	margin: 0 0 10px 0;
	white-space: pre;
	text-overflow: ellipsis;
	overflow-x: hidden;
}

#panelUsers {
	display: inline-block;
	vertical-align: top;
	max-width: 200px;
}

#panelChat {
	display: inline-block;
	max-width: 600px;
}
